body {
    background-color: black;
    color: white;
    
}

h3 {
    padding: 10px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 500px;
    height:auto;
}

.lowerimg{
    width: 100%;
    max-width: 350px;
    height: auto;
}